# URL de conexão com o Azure SQL de desenvolvimento
# IMPORTANTE: Duplique este arquivo, renomeie para .env e insira a senha correta
DATABASE_URL="mssql+pyodbc://admin-souzacar:COLOQUE_A_SENHA_AQUI@srv-souzacar.database.windows.net/souzacar-db?driver=ODBC+Driver+18+for+SQL+Server"
